# [Pandas Data Wrangling](http://pandas.pydata.org/)

In [ ]:
import os
import sqlite3 as sqlite
DATADIR = os.path.join(".", "Resources")
os.path.exists(DATADIR)

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

## Reading in NaN/Missing Values, etc.

## Modifying Values 
### ``replace()``

In [ ]:
elevation = pd.read_table(os.path.join(DATADIR,"elevation.txt"))

In [ ]:
elevation

This data is easy to read, but had to compute with. First off, we have numeric values except for "Sea level". We can use ``replace`` to replace "Sea level" with "0 feet" to match the other cells

In [ ]:
elevation.replace("Sea level","0 feet")

We can also use regular expressions to identify and change data.

In [ ]:
import re
r2 = re.compile("feet")

In [ ]:
elevation.replace("Sea level","0 feet").replace(r2,"").to_csv(os.path.join("/tmp",
                                                                           "elevation2.txt"),
                                                             sep="\t")
elevation2=elevation.replace("Sea level","0 feet").replace(r2,"")
elevation2

## What is the data type of the elevation cells

In [ ]:
print(elevation2["Highest elevation"][0])
print(type(elevation2["Highest elevation"][0]))

## Can we convert elevations to numeric values

In [ ]:
help(elevation2.convert_objects)

In [ ]:
elevation2.convert_dtypes(convert_floating=True).dtypes

### Pandas didn't know how to deal with "," in numbers

* Two approaches
    1. When reading in numeric values we can specify the ``thousands`` keywoard
    2. We can use the [``locale``](https://docs.python.org/3.5/library/locale.html#module-locale) package
* I saved the dataframe where we had replaced ``Sea level`` and ``feet``

In [ ]:
pd.read_table(os.path.join("/tmp","elevation2.txt"),
                           thousands=",",
                           index_col='State')

In [ ]:
import locale
print(locale.getlocale())

In [ ]:
help(locale.setlocale)

### Alternative approach: using `locale`
#### see [here](https://docs.python.org/3/library/locale.html#locale.setlocale) for `setlocale` documentation

In [ ]:
locale.setlocale(locale.LC_NUMERIC, '') # I'm a little confused by this
elevation3 = elevation2.copy()
elevation3['Lowest elevation'] = \
elevation3.apply(lambda row: locale.atof(row['Lowest elevation']),
                     axis=1)
elevation3['Highest elevation'] = \
elevation3.apply(lambda row: locale.atof(row['Highest elevation']),
                     axis=1)
elevation3['Average elevation'] = \
elevation3.apply(lambda row: locale.atof(row['Average elevation']),
                     axis=1)
elevation3

### What if we set the locale incorrectly?

In [ ]:
locale.setlocale(locale.LC_NUMERIC, "de_DE.UTF-8")
#locale.setlocale(locale.LC_NUMERIC, '') # I'm a little confused by this
elevation4 = elevation2.copy()
elevation4['Lowest elevation'] = \
elevation4.apply(lambda row: locale.atof(row['Lowest elevation']),
                     axis=1)
elevation4['Highest elevation'] = \
elevation4.apply(lambda row: locale.atof(row['Highest elevation']),
                     axis=1)
elevation4['Average elevation'] = \
elevation4.apply(lambda row: locale.atof(row['Average elevation']),
                     axis=1)
elevation4

### What locales are available?

In [ ]:
!locale -a